{% extends 'base.html' %}

{% block title %}Shoppingcart Order {{ order.id }}{% endblock %}

{% block extra_head %}
<style>
    @page {
        size: Letter;
        margin: 0.5cm;
    }
</style>
{% endblock %}

{% block content %}
<header>
    <div class="row">
        <div class="col-3">
            <p class="mb-0" style="font-size: 12px;padding-right: 4px;">RUC
                155657156-2-2017&nbsp; DV 76</p>
            <p class="mb-0" style="font-size: 12px;padding: initial;padding-right: 4px;">Zona
                Libre de Colón</p>
            <p class="mb-0" style="font-size: 12px;padding: initial;padding-right: 4px;">
                Calle 15 1/2 Av. Sta. Isabel, Diagonal a EPCOT</p>
            <p style="font-size: 12px;padding: initial;padding-right: 4px;" class="mb-0">
                +507-4780171</p>
            <p style="font-size: 12px;padding: initial;padding-right: 4px;" class="mb-2">
                ventas@trendmakers.com</p>
        </div>
        <div class="col-6" style="text-align: center;"><img class="mb-0" src="{{ logo_url }}"
                alt="Trendmakers PTY, S.A." style="height: auto;max-width: inherit;">
        </div>
        <div class="col-3" style="background: rgba(163,207,187,0.43);">
            <p style="text-align: center;font-weight: bold;font-size: 20px;">Order</p>
            <h1 style="text-align: center;" class="mb-2"># {{ order.id }}</h1>
            <p style="text-align: center;font-size: 10px;" class="mt-0 mb-2"><strong>Date:</strong> {{ order_date }}</p>
        </div>
    </div>
</header>
<div class="container-fluid">
    <section>
        <div class="row">
            <div class="col-6">
                <p style="margin-bottom: 4px;"><strong>Customer:</strong> {{ order.customer_id }} {{ order.customer_name }}</p>
                <!-- <p style="margin-bottom: 4px;"><strong>Address:</strong> Carr. Norte, Managua, Nicaragua</p> -->
                <p style="margin-bottom: 4px;"><strong>e-mail:</strong> {{ order.sendto }}</p>
                <p><strong>Phone:</strong> {{ order.customer_cel }}</p>
            </div>
            <div class="col-6">
                <p style="margin-bottom: 4px;"><strong>Payment method:</strong> CREDIT</p>
                <p style="margin-bottom: 4px;"><strong>Saller:</strong> {{ created_by_name }}</p>
            </div>
        </div>
    </section>
    <section style="border-top-style: double;">
        <div class="table-responsive">
            <table class="table">
                <thead style="background: rgba(166,239,254,0.25);">
                    <tr>
                        {% if print_images == '' %}
                        <th style="background: transparent; text-align: center;">Ref</th>
                        {% else %}
                        <th style="background: transparent; text-align: center;">Image</th>
                        {% endif %}
                        <th style="background: transparent; text-align: center;">SKU</th>
                        <th style="background: transparent; text-align: center;">Description</th>
                        <th style="background: transparent; text-align: center;">Qty</th>
                        <th style="background: transparent; text-align: center;">Price</th>
                        <th style="background: transparent; text-align: center;">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        {% if print_images == '' %}
                        <td>{{ item.sku }}</td>
                        {% else %}
                        <td><img src="{{ print_images }}/{{ item.sku }}.jpg" style="max-width: 100px;height: auto;"></td>
                        {% endif %}
                        <td>{{ item.sku }}</td>
                        <td>{{ item.name }}</td>
                        <td style="text-align: center;">{{ item.quantity }}</td>
                        <td style="text-align: right;">{{ item.price |floatformat:2 }}</td>
                        <td style="text-align: right;">{{ item.line_total|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-6" style="background: rgb(247,249,251);">
                <div class="row">
                    <div class="col">
                        <p style="text-align: center;font-weight: bold;">RV-WL</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Packages: {{ items|length }}</p>
                        <p>Weight: 8.00</p>
                        <p>Volume: 0.36</p>
                    </div>
                </div>
            </div>
            <div class="col-6 align-self-center">
                <figure class="text-center ms-2 me-2" style="background: rgba(248,215,218,0.57);">
                    <blockquote class="blockquote">
                        <p class="text-center mb-0" style="font-weight: bold;">
                            Total: ${{ order.total|floatformat:2 }}
                        </p>
                    </blockquote>
                </figure>
            </div>
        </div>
    </section>
</div>
{% endblock %}